- doctors = Doctor.all.map { |doctor| [doctor.name, doctor.id] }
- patients = Patient.all.map { |patient| [patient.name, patient.id] }

= form_for (@appointment) do |f|
  = f.label :doctor_id
  = f.select(:doctor_id, options_for_select(doctors))
  %br
  = f.label :patient
  = f.select(:patient_id, options_for_select(patients))
  %br
  
  = f.label :start_time
  = f.datetime_select :start_time, :ampm => true, :minute_step => 15
  
  %br
  = f.label :end_time
  = f.datetime_select :end_time, :ampm => true, :minute_step => 15
  
  %br
  = f.submit
  
